body
{
    box-shadow: 2px 2px 2px #1fa58c;

}
.scroll
{
    overflow: hidden;
}
img
{
    width: 100%;
}
*
{
	margin:0px;
	padding:0px;
}
.clear:after
{
    content: "";
    clear:both;
    display: block;
}
.preloder {
            background-image:url(../img/loder.gif);
            
            background-size: cover;
            position: fixed;
            z-index: 100000;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
        }
.heading element.style {
    display:none;
    font-style: normal;
    margin: -2px 2px 0px;
    opacity: 0;
}
.heading .animated
{
    animation-duration: 3s;
    animation-delay: 2s;

}
.heading .rotate .animated
{
    animation-duration:10s;
    animation-delay: 10s;
}

/* head */
.head
{
    
    background-image: url('../img/bg.jpg');
    font-family:sans-serif;
    background-size: cover;
    position: relative;
    padding: 222px 0px;
    box-shadow: 2px 2px 50px #6ab9f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* color-theme*/
.theme
{
  display: inline-block;
  position: absolute;
  top:5px;
  left:5px;
 

}

    
.theme .toggle img {
    position: absolute;
    transition: 1s;
    width: 100%;
}
    
    .color-theme
{
        display: inline-block;
        
         transform: translateX(-60px);
         transition: 1s; 
}

 .move-left /*.theme a:hover + .color-theme*/
{
     transform: translateX(8px); 
     left:1px;
}
.icon-transform
{
    transform:translateX(50px);

}


.green a
{
   border-radius: 50%;
    background-color: #88c559; 
    height: 40px;
    width: 40px;
    display: inline-block;
}
.orange a
{
   border-radius: 50%;
    background-color: #da9622;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.white a
{
   border-radius: 50%;
    background-color:#fff;
    height: 40px;
    width: 40px;
    display: inline-block; 
}
.pink a
{
   border-radius: 50%;
    background-color:#f774e1; 
    height: 40px;
    width: 40px;
    display: inline-block;
}
.heading
{
	
    color: #e9f3fade;
    text-align: center;
    
    
}
span.font-size
{
    font-size: 80px; 
}
.font-color
{
    color:#74bff4f7;
}
.heading h1
{
	font-size:70px;
	 color:#74bff4f7 ;
	text-align: center;
    color:#74bff4f7;
    letter-spacing: -3px;
    transition:0.1s;
    

}

.heading h2 
{

}
.heading  span
{
	
	color:#74bff4f7;
    font-size:70px;
	
}
.rotate-text
{
    height:100px;
}
/* menu */
.logo 
{
    color:#dbe6efd6;
    font-size: 20px;
    display: none;
    

}
.block
{
    display: block ! important;
}
#menu {

    
    display: none;
    height: auto;
    background-color: #0f0f0f;
   
    padding: 15px 0px;
}
#menu #menu-nav 
{
    width:75%;
    margin:0 auto;
   /* display:flex !important;
    align-items: center;
    justify-content: center;*/
}
#menu li
{
    padding: 7px 25px;
    margin-right: 10px;
    border-radius:20px;
    transition: 0.3s background-color;


    
}
#menu li a {
    color: #dbe6efd6;
    font-size: 16px;
    text-transform: uppercase;
    line-height:1.2;
   
    transition: 0.5s;
    
    
    display: block;
}
#menu .nav>li>a
{
    padding:0px;
}

#menu li:hover {
    background-color: #1e6cbe;
    color: #dbe6efd6;
    border-radius:20px;
    box-shadow: 2px 2px 2px #ffffffa6;
  
}
#menu li:hover a 
{
    transform: scale(0.9);
}


#menu li.my-active {
    background-color:#1e6cbe;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #ffffffa6;
  
}
#menu .nav>li>a:focus,.nav>li>a:hover 

{
   
     background-color: transparent !important;
}

#menu .navbar-toggle {
    background-color: #1e6cbe;
    height: 35px;
    width: 35px;
    padding: 6px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
#menu .navbar-toggle span {
    width: 22px;
    height: 2px;
    background-color: #d4f9e6;
    display: block;
    border-radius: 20%;
}
#menu .navbar
{
    margin-bottom: 0px;
    min-height: inherit !important;
}





/* profile */
.profile
{
   background-color: #000000;
    background-image: url("");
    background-size: cover;
    background-repeat: repeat;
    padding:100px 0px;

}
.title
{
	
padding-bottom:100px;
	
text-align: center;
}
.title h1
{



    color: #1e6cbe;

    display: inline-block;

    border-bottom: 2px solid #dbe6efd6;

    padding-bottom: 5px;
    font-size: 35px;
}
.title h4
{
     color: #1e6cbe;
     font-size: 20px;
}
.p-1 h2 {
    color: #dbe6efd6;
    font-size: 25px;
    margin-bottom: 30px;
}
.p-1
{
border-bottom: 2px solid #1e6cbe;
padding-bottom: 10px;
}

.p-1 p {
    color: #dbe6efd6;
    font-size: 16px;
}
.p-2 {
    padding-top: 10px;
}

.p-2 h2 {
    color: #dbe6efd6;
    font-size: 25px;
}

.p-2 p {
    color: #dbe6efd6;
    font-size: 18px;
}
.resume {
    text-align: center;
}
.resume a
{
    background-color: #1e6cbe;
    padding: 10px 50px;
    font-size: 21px;
    color:  #dbe6efd6;
    display: inline-block;
    border-radius: 10px;
    
    transition: 1s;
    text-decoration: none;
}
.resume a:hover {
    text-decoration: none;
    box-shadow: 2px 3px 2px #ffffffad;
    color: #dbe6efd6;
}
.resume i 
{
    color: #1e6cbe;
    font-size: 56px;
    /*margin-top: 30%;*/
    margin-bottom: 105px;
    display: block;
    text-align: center;
}
.resume i
{
    animation-name:download;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-direction: normal;
}
@keyframes download
{
    0%
    {
        transform:translateY(0px);
    }
    25%
    {
        transform:translateY(35px);
    }
    50% 
    {         
     transform: translateY(70px);
               
    }
    75%
    {
        transform: translateY(99px);
    }
    100% 
    {
     transform: translateY(0);
               
    }




}
/* skills*/
.skills
{
   /* background-color: #0a0a0a;*/
    background-repeat: repeat;
   background-image: url('../img/graybg.jpg');
   background-size: cover;
    padding:100px 0px; 
}
.skill-box.animated.infinite.shake {
    animation-duration: 4.5s;

}
.skills .progress-bar
 {
    background-color: #0c3aad;
    transition: 2s width;
}
.skills .progress {
    height: 25px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #dbe6efd6;
    border-radius: 5px;
    width:80%;
}
.skills h5
{
    color: #dbe6efd6;
    margin-left: 3px;
}
/* work */
.work
{
    padding:100px 0px;
    background-color: #000000;
   background-repeat: repeat;
   background-image: url('');
   background-size: cover;
}

/*.work-nav a {
    text-transform: uppercase;
    padding: 20px;
    font-size: 16px;
    color:#dbe6efd6;
    margin-right: 5px;
    display: inline-block;
}
.work-nav a:hover 
{
    border: 1px solid #1e6cbe;
    color: #dbe6efd6;
    text-decoration: none;
    box-shadow: 2px 2px 0px #ffffffa6;
    border-radius: 30px;
    text-decoration: none;
}*/
.work-box {
    padding-top: 50px;
}
.work-box .row{
    display: flex;
    flex-wrap: wrap;
}

.work-box1 {
    margin-bottom: 50px;
    position: relative;
    height: 100%;


}
.work-box1 img {
    width: 100%;
    height:240px;
    object-fit:cover;

    }
.work-overlay
{
    position: absolute;
    top:0px;
    right:0;
    left:0;
    bottom:0;
    background-color: rgba(60, 60, 62, 0.60);
    text-align:center;
    transition:1s;
    opacity: 0;
    overflow:hidden; 
}
.name {
    color: #dbe6efd6;
    font-size: 18px;
}
.work-overlay:hover
{
    opacity:1;
}
.work-overlay a {
    color: #dbe6efd6;
    font-size: 22px;
    display: block;
    margin-top: 100px;
}
.work-overlay a:hover
{
    text-decoration: none;
    color:#dbe6efd6;
}
/* reference */
.reference
{
    padding-top:100px;
    padding-bottom: 200px;
    /*background-color:#0a0a0a;*/
    background-size: cover;
    background-image: url('../img/a.jpg');
    background-repeat: repeat;
}
.slider-content p {
    color: #bac3cc;
    font-size: 17px;
}

.slider-content h2 {
    color: #bac3cc;
    font-size: 22px;
}

.slider-img img {
    
    border-radius: 50%;
}

.slider-content {
    margin-top: 25px;
}
#slider .carousel-indicators li.active .indicator-overlay {
    
    padding:20px;
    background-color:#444242cc;
   

}
#slider .carousel-indicators {
    margin-bottom: -100px;

}
#slider .carousel-indicators li {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:none;
    text-indent: 0px;
    position: relative;
     overflow: hidden;
}
/*span.h-box {
    display: inline-block;
    background-color: #2727279e;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}*/
.indicator-overlay
    {
        display: inline-block;
      position: absolute;
    
    top:0;
    left:0;
    right:0;
    bottom:0;


}
#slider .carousel-indicators li img {
    border-radius: 50%;
   
}
#slider .carousel-indicators li .active {
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    background-color: #fff;
}
/*

/* contact */
.contact {
    padding: 100px 0px;
    background-color: black;
}
.contact-box
{
    width:70%;
    margin:0 auto;
}
.contact-box .form-control
{
    height:40px;
}
.name-control {
    width: 50% !important;
    
    display: inline-block !important;
    float:left;
}



.email-control {
    width: 49% !important;
    margin-left: 5px;
    display: inline-block !important;
 
}

.contact-box
 .form-control {
    background-color: black;
    border: 1px solid #ffffff36 !important;
    color:#dbe6efd6 !important;
    box-shadow: none !important;
}

.contact-box .form-group textarea {
    height: 200px;
}
.contact-box a {
    padding: 10px 40px;
    
    color:#dbe6efd6;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ffffff40;
    transition: 1s;
}
.contact-box a:hover {
    text-decoration: none;
    
    color: #dbe6efd6;
    box-shadow: 2px 1px 2px;
}
/* footer */
.footer
{
    padding:70px 0px 50px;
    text-align: center;
    background-color: #0a0a0a;
    position: relative;
}
.footer p {
    font-size: 15px;
    color: #dbe6efd6;
}
/* for menu fixed */
#lblScroll {
    position: fixed;
    top: 0px;
    right: 40px;
    color: white;
    font-size: 20px;
    z-index: 1000000000000000;
}
/* go top btn */
.gotop {
    background-color: #1e6cbe;
    color: #b9c3cb;
    font-size: 35px;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: -30px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    transition:0.3s all;
    
}
.gotop:hover i
{
    color:#1e6cbe;

}
.gotop:hover
{
    background-color:#b9c3cb;
}
.hide-scroll
{
    scroll-behavior: unset;
}
/* box */


.work-row{display:flex;flex-wrap:wrap;}
.work-row .work-col{width:25%;padding: 0 15px;overflow:hidden;}
